<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/indexStyles.css">
    <link rel="stylesheet" href="/libraryStyle.css">
    <title>Document</title>
</head>
<body>
    <!--Modal to create new subfolder -->
    <div id="newFolderModal" class="folderModal">
        <div class="folder-modal-content">



            <div class="folder-form-header">
                <h2>Create Folder</h2>
                <span class="close">&times;</span>
            </div>

            <hr>

                <form action="/library/folder/createSubFolder/<%= folder.id %>" method="POST">
                    <div class="input-container">
                        <label for="subFolderName">Name:</label>
                        <input type="text" id="subFolderName" name="subFolderName" required placeholder="Folder name">
                    </div>
                    <div class="folder-form-button">
                        <button type="submit">Create</button>
                    </div>
                </form>

        </div>
    </div>

    <!--Modal to create new subfile -->
    <div id="newFileModal" class="fileModal">

        <div class="file-modal-content">

            <div class="file-form-header">
                <h2>Create Folder</h2>
                <span class="close">&times;</span>
            </div>

            <hr>

                <form action="/library/file/createSubFile/<%= folder.id %>" method="POST" enctype="multipart/form-data">
                    <div class="input-container">
                        <label for="file">File:</label>
                        <input type="file" id="file" name="file" required placeholder="File">
                    </div>
                    <div class="file-form-button">
                        <button type="submit">Create</button>
                    </div>
                </form>

        </div>
    </div>




    <% if (user) {%>
        <header class="header">
            <div class="left-header">
                <a href="/">
                    <img src="/images/fox-4-svgrepo-com.svg">
                    <h2>SortiFox</h2>
                </a>
                <ul class="left-header-left-links">
                    <li><a href="">Products</a></li>
                    <li><a href="">Solutions</a></li>
                    <li><a href="">Enterprise</a></li>
                    <li><a href="">App</a></li>
                </ul>
            </div>
            <div class="right-header">
                <ul>
                    <li><a href="/log-out">Log out</a></li>
                    <li><div class="profile"> <p><%- user.email.charAt(0).toUpperCase() %></p> </div></li>

                </ul>
            </div>
        </header>
    <% } else { %>
        <%- include('./header.ejs') %>
    <%}%>
    <div class="library-container">

        <div class="library-files-container">
            <%- include('./partials/libraryHeader.ejs') %>
            <% if (folder) { %>
               <h2> <%- folder.name %> </h2>
            <% } %>
            <p style="color: black;"><a href="/library">Home</a></p>
            <section class="table__body">
                <table>
                    <thead>
                        <tr>
                            <th> Name </th>
                            <th> Size </th>
                            <th> Created </th>
                            <th> Last Updated </th>
                            <th> Options </th>
                        </tr>
                    </thead>
                    <tbody>
                        <% function displayTimeAgo(createdAt) { %>
                            <%= formatDistanceToNow(new Date(createdAt), { addSuffix: true }) %>
                          <% } %>
                        <% subFolders.map((folder, index) => { %>
                            <%

                            %>

                            <tr>
                                <td> <a href="/library/folder/<%= folder.id %>">  <img src="/images/folder-outline.svg"> <%= folder.name %> </a> </td>
                                <td> - </td>
                                <td> <%= displayTimeAgo(folder.createdAt) %> </td>
                                <td> <%= displayTimeAgo(folder.updatedAt) %> </td>
                                <td>
                                    <button class="options-btn" data-folder-id="<%= folder.id %>">...</button>
                                </td>
                                <div id="optionsModal<%= folder.id %>" class="optionsModal">
                                    <div class="modal-content">
                                      <span class="close">&times;</span>
                                      <h2>Folder Options</h2>
                                      <button onclick="openEditModal('<%= folder.id %>')">Edit</button>
                                      <form id="deleteFolderForm<%= folder.id %>" action="/library/subfolder/delete/<%= folder.id %>" method="POST">
                                        <button type="submit" onclick="return confirm('Are you sure you want to delete this user?');"> Delete</button>
                                    </form>
                                    </div>
                                  </div>

                            </tr>


                            <!--Edit folder modal-->
                            <div id="editFolderModal<%= folder.id %>" class="modal edit">
                                <div class="modal-content edit" id="editFolder-modal">
                                    <div class="folder-form-header">
                                        <h2>Edit folder</h2>
                                        <span class="close">&times;</span>
                                    </div>
                                    <hr>
                                    <form id="editFolderForm<%= folder.id %>" action="/library/subfolder/update/<%= folder.id %>" method="POST">
                                        <div class="input-container">
                                            <label for="newSubFolderName">Name:</label>
                                            <input type="text" name="newSubFolderName" value="<%= folder.name %>" required>
                                        </div>
                                        <div class="edit-form-button">
                                            <button type="submit">Edit name</button>
                                        </div>
                                    </form>
                                </div>
                            </div>


                         <% }) %>

                         <% subFiles.map((file, index) => { %>
                            <tr>
                                <td> <a href="/library/file/<%= file.id %>">  <img src="/images/folder-outline.svg"> <%= file.name %> </a> </td>
                                <td> <%= file.blob %> </td>
                                <td > <%= displayTimeAgo(file.createdAt) %> </td>
                                <td> <%= displayTimeAgo(file.updatedAt) %> </td>
                                <td>
                                    <button class="options-file-btn" data-file-id="<%= file.id %>"> <img src="/images/dots-horizontal.svg"> </button>
                                    <div id="optionsFileModal<%= file.id %>" class="optionsFileModal">
                                        <div class="modal-content">
                                          <span class="close">&times;</span>
                                          <button onclick="openEditFileModal('<%= file.id %>')">Edit</button>
                                          <form id="deleteFileForm<%= file.id %>" action="/library/subfile/delete/<%= file.id %>/<%= folder.id %>" method="POST">
                                            <button type="submit" onclick="return confirm('Are you sure you want to delete this file?');"> Delete</button>
                                        </form>
                                        </div>
                                      </div>
                                </td>

                                <div id="editFileModal<%= file.id %>" class="modal edit">
                                    <div class="modal-content edit" id="editFile-modal">
                                        <div class="file-form-header">
                                            <h2>Edit file</h2>
                                            <span class="close">&times;</span>
                                        </div>
                                        <hr>
                                        <form id="editFileForm<%= file.id %>" action="/library/subfile/update/<%= file.id %>/<%= folder.id %>" method="POST">
                                            <div class="input-container">
                                                <label for="newFileName">Name:</label>
                                                <input type="text" name="newFileName" value="<%= file.name %>" required>
                                            </div>
                                            <div class="edit-form-button">
                                                <button type="submit">Edit file name</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>




                            </tr>
                        <% }) %>

                    </tbody>
                </table>
            </section>

        </div>

    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const newFolderModal = document.getElementById('newFolderModal');
            const openNewFolderModalBtn = document.getElementById('open-modal');
            const newFolderModalCloseBtn = newFolderModal.querySelector('.close');
            const optionsModal = document.querySelector(`.optionsModal`);
            //const deleteFolderModal = document.getElementById('deleteFolderModal');

            const newFileModal = document.getElementById('newFileModal');
            const openNewFileModalBtn = document.getElementById('open-file-modal');
            const newFileModalCloseBtn = newFileModal.querySelector('.close');

            openNewFolderModalBtn.onclick = function() {
                console.log('open folder clicked')
                newFolderModal.style.display = 'block';
            }

            newFolderModalCloseBtn.onclick = function() {
                newFolderModal.style.display = 'none';
            }

            //open or close new file modal
            newFileModalCloseBtn.onclick = function() {
                newFileModal.style.display = 'none';
            }
            openNewFileModalBtn.onclick = function() {
                newFileModal.style.display = 'block';
                newFolderModal.style.display = 'none';
            }


            document.querySelectorAll('.options-btn').forEach(button => {
                const folderId = button.getAttribute('data-folder-id');
                const optionsModal = document.getElementById(`optionsModal${folderId}`); // Corrected template literal
                const optionsCloseBtn = optionsModal.querySelector('.close');

                // Open the options modal when the button is clicked
                button.addEventListener('click', () => {
                    optionsModal.style.display = 'block';
                });

                // Close the options modal when the 'X' is clicked
                optionsCloseBtn.onclick = function() {
                    optionsModal.style.display = 'none';
                };


            });

              // Handle options modal for each file
            document.querySelectorAll('.options-file-btn').forEach(button => {
                const fileId = button.getAttribute('data-file-id');
                const optionsFileModal = document.getElementById(`optionsFileModal${fileId}`);
                const optionsFileCloseBtn = optionsFileModal.querySelector('.close');

                // Open the options modal when the button is clicked
                button.addEventListener('click', () => {
                    optionsFileModal.style.display = 'block';
                });

                // Close the options modal when the 'X' is clicked
                optionsFileCloseBtn.onclick = function() {
                    optionsFileModal.style.display = 'none';
                };

            });

            window.openEditFileModal = function(fileId) {
                const optionsModel = document.getElementById(`optionsModal${fileId}`);
                const modal = document.getElementById(`editFileModal${fileId}`);
                modal.style.display = 'block';
                optionsModal.style.display = 'none';

                const closeModal = modal.querySelector('.close');
                closeModal.onclick = function() {
                    modal.style.display = 'none';
                };


            }

            window.openEditModal = function(folderId) {
                //get options modal id
                const optionsModal = document.getElementById(`optionsModal${folderId}`);
                const modal = document.getElementById(`editFolderModal${folderId}`);
                modal.style.display = 'block';
                optionsModal.style.display = 'none';

                const closeModal = modal.querySelector('.close');
                closeModal.onclick = function() {
                    modal.style.display = 'none';
                };

            }

            // Close modals when clicking outside of them
            window.onclick = function(event) {
                if (event.target == newFolderModal) {
                    newFolderModal.style.display = "none";

                }
                if (event.target == optionsModal) {
                    optionsModal.style.display = 'none';

                }

            }

        });


    </script>

</body>
</html>
